<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
</head>
<body>

    <h1>About Me </h1>

<!-- Express areas of interest and personal background, and give a small explanation about each-->
    <h2>My Interests</h2>
    <p><em>I am a passionate web developer and IS student</em></p>
    <h2>My Background</h2>
    <p><strong>I am Greek Orthodox Christian and my family is Greek.</strong> I have been to Greece many times with my family to visit cousins that live in Athens</p>

 <!-- Further elaborate on  interest and personal background in paragraph form-->
    <p>Some of my other interests include playing basketball. I play on a competitive team with some of my friends, and we play games every Sunday. I also enjoy watching the NBA.</p>
    <p>In my free time I also play golf with my friends. Because I am taking fewer classes this semester compared to prior semesters, I have started learning Greek in my free time.</p>


<!-- Create an ordered list of favorite foods and an unordered list of Vacation locations-->
    <h2>My Favorite Foods:</h2>
    <p>My Favorite Foods:</p>
    <ol>
        <li><em>Pizza</em></li>
        <li>Cornbread</li>
        <li>Pancakes</li>
        <li>Grapes</li>
    </ol>

    <h2>Vacation Locations</h2>
    <p>Places I have Visited:</p>
    <ul>
        <li><strong>Greece</strong></li>
        <li>Italy</li>
        <li>Costa Rica</li>
        <li>Puerto Rico</li>
    </ul>

    <h2>Courses Taken</h2>
    <table>
        <tr>
        <th>Courses</th>
        <th>Semester Taken</th>
        </tr>
        <tr>
            <td>BMGT445</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT441</td>
            <td>Fall 2023</td>
        </tr>
        <tr>
            <td>BMGT332</td>
            <td>Spring 2023</td>
        </tr>
    </table>

<!--Provide various website hyperlinks-->
    <h2>Favorite Websites</h2>
    <p>Some of my favorite websites:</p>

<p>Check out my <a href="/hello">hello route</a>.</p>
    <p>Visit my favorite websites: <a href="https://www.tesla.com/cybertruck">Tesla Cyber Truck</a>, <a href="https://www.commanders.com/" target="_blank">Washington Commanders Home Page</a>.</p>

<img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">

</body>
</html>